QED PIECE
===========

0. What is PIECE?
----------------
PIECE stands for Portable Integrated Environment for Computing Education.


1. Included software
--------------------
- python3, pip, venv
- Node.js, npm
- git, gitk, tig, git-review
- gpg, ssh
- vim
- PyCharm Community Edition
- LibreOffice
- KeePassX
- GIMP
- Guake terminal
- Preinstalled python packages:
  - Django
  - numpy
  - pandas
  - matplotlib
  - tensorflow
  - scikit-learn
  - scikit-image
  - ipython
  - jupyter
  - keras
  - pygdal
  - xlrd

2. Configuration
----------------
- User student has password-less sudo
- Terminal prompt shows the current git branch
- Useful git aliases: see ~/.gitconfig
- Guake starts automatically. Press <f12> to open the terminal
- Python3 virtual environment with jupyter, Django, numpy, pandas and
  other libraries preinstalled. It's located in ~/venv
- vim is the default editor


3. Additional assets
--------------------
PDF documentation for:
- python3
- Django
- pandas
- numpy
- scikit-learn
located on the desktop


===========================
Build:
- version: {{ piece_version }}
- hash: {{ build_hash }}
- time: {{ build_time }}
